
body{
    font-family: 'Open Sans', sans-serif;
    /*width: 90%;*/
    margin: 0 auto;
}

.landing_banner{
    height: 600px;
    background: rgb(218,255,231);
background: linear-gradient(90deg, rgba(218,255,231,1) 0%, rgba(255,255,255,0) 54%, rgba(199,241,233,1) 100%);
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
ul{
    list-style: none;
}

.topbar{
    
    background-color: white;
    width: 100%;
    /*border : 1px solid;*/
    box-shadow: 0 3px 10px 0 rgb(115 143 147 / 30%);
}

.navAndLogo{
    margin-inline:55px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    background-color: white;
}
.logo{
    text-align: center;
}

.logo img{
    width: 40px;
}

.navAndLogo a:hover{
    color: green;
    text-decoration: none;
}

.links ul{
    display: flex;
}
.links ul li,.services ul li {
    margin: 0 23px;
}

.services ul{
    display: flex;
}

.services ul li {
    margin: 0 8px;
}

.firstBanner{
    padding-top: 100px;
    text-align: center;
}
.BannerContent{
    max-width: 67%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.motivationLine h1{
    font-size: 66px;
    font-weight: 900;
}
.moto p{
    color: #443e3e;
    font-size: 18px;
    font-weight: 100;
    margin: 0 auto;
    width: 60%;
}
.Btn{
    margin : 50px auto;
}
.Btn a{
    color: white;
    padding: 12px 24px;
    background: green;
    justify-content: space-between;
}

.btn1 {
    padding : 10px;
    background-color: green;
    border-radius: 5px;
    color: white;
}

.RequestBtn, .RequestBtn:hover{
    padding : 10px;
    background-color: #bfc9cc;
    border-radius: 5px;
}

.reqDemo{
    /*background-color: black;*/
    color: black;
    font-weight: bold;
    padding: 10px 18px;
    /*pointer-events: none;*/
}
.description{
    width: 50%;
    font-weight: bold;
    color: #576871;
    margin: 0 auto;
    text-align: center;
}

.sections a{
    color: #443e3e;
    padding-inline : 70px;
}

.banner2{
    background: #111621;
    width: 80%;
    margin-inline : auto;
}

.banner2 .h6{
    color: #B7C9CC;
}

.banner2 .h3, .banner2 .h5 , .banner2 .btn{
    color: white;
}    

.lastSection{
    color:  black;
}

.company{
    margin-top: 150px;
    margin-bottom: 150px;
}
.companySection1{
    width: 40%;
}

.slide{
    width : 35%;
    background-color: #dfe3e74a;
    z-index : -1;
    margin-right: 5%;
}

.endSection{
    margin-inline : auto;
    color: black;
}

.firstFlex, .secondFlex{
    line-height: 0.8;
    margin-bottom: 120px;
    text-align: left;
}

.sub-link{
    text-decoration: none;
    color: #576871;
}

a:hover{
    text-decoration: none;
    color: green;
}
